#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mainPage{
    flex-grow: 1;
}
#logonav{
    width: 250px;
}
.colorBackground{
    background-color: #4d3420;
}
.bannerimg{
    height: 440px;
    width: 100%;
    object-fit: cover;
}